* {
  font-family: Arial, Helvetica, sans-serif;
}
.flex {
  display: flex;
}
body {
  margin: 30px 38px;
}

nav {
  justify-content: space-between;
}
ul {
  list-style: none;
  display: flex;
}
ul li {
  margin: 8px 28px;
  cursor: pointer;
}
.list2 {
  display: flex;
  align-items: center;
}
.list2 > button {
  width: 115px;
  margin-left: 23px;
  background: rgb(235, 78, 16);
  border: none;
  padding: 11px 10px;
  color: whitesmoke;
  cursor: pointer;
}

/* Hero Secton */
.hero_container {
  padding: 15px 20px;
  margin: 30px 8px;
  background-color: rgb(245, 246, 247);
}
.hero_section1 {
  width: 45%;
}
.hero_section1 h3 {
  font-weight: 600;
  font-size: 3.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.hero_section1 p {
  margin-bottom: 30px;
  text-align: justify;
  font-weight: 300;
  font-size: 0.9rem;
  color: rgb(85, 85, 85);
}
.btn {
  cursor: pointer;
  background-color: rgb(235, 78, 16);
  color: whitesmoke;
  padding: 12px 15px;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  transition: all;
  transition-duration: 0.8s;
}
.btn:hover {
  translate: 0 -7px;
  box-shadow: 0 0 2px 0.5px gray;
}
.btn1 {
  margin-right: 8px;
}
.btn1 {
  margin-left: 8px;
  background-color: rgb(20, 20, 20);
}
.hero_section2 {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_section2 img {
  width: 340px;
}
/*  */
/* Our Services */
.section_header {
  text-align: center;
  margin: 70px 0px 50px;
}
.section_header h4 {
  margin-bottom: 0;
  font-size: 1.7rem;
  font-weight: 700;
}
.section_header p {
  margin-top: 6px;
  font-size: 0.9rem;
  font-weight: 300;
  color: rgb(80, 80, 80);
}
.service_cards_section {
  margin-top: 15px;
}
.service_cards_section > div {
  margin: 0px 15px;
  padding: 35px 14px 20px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 6px;
  width: 28%;
  text-align: center;
  transition: all;
  transition-duration: 0.5s;
}
.service_cards_section > div:hover {
  translate: 0 -8px;
  box-shadow: 0 0 3px 0 gray;
}
.Service_icon_section {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service_cards_section > div > div > h5 {
  font-size: 1rem;
  color: rgb(235, 78, 16);
  margin-bottom: 0;
}
.service_cards_section > div > div > p {
  margin-top: 10px;
  font-size: 0.9rem;
  cursor: default;
}
.button_cont {
  margin: 30px 0;
  text-align: center;
}
/*  */
/* Fruit Section */
.fruits_section {
  margin: 25px 0px;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px 0 gray;
  background-color: rgb(238, 238, 238, 0.2);
  border-radius: 3px;
}
.furits_section1 {
  padding: 10px;
  width: 60%;
  text-align: justify;
}
.furits_section2 {
  width: 30%;
  text-align: center;
}
.furits_section2 img{
    position: relative;
    transition: all;
    transition-duration: 0.7s;
    z-index: 10;
}
.fruits_section:hover .furits_section2 img{
    position: relative;
  scale: 0.9;
}
/*  */
/* Testimonial Section */
.testimonial_container {
    text-align: center;
}
.testimonial_container > h3{
    margin-top: -15px;
    font-weight: 300;
}
.testimonial_container > div > img{
    translate: 45px;
    animation: motion 2.2s ease-in infinite alternate;
    z-index: 4;
}
.testimonial_container > p{
    font-size: 0.9rem;
    color: rgb(58, 58, 58);
}
/*  */
/* Contact Us Section */
.contact_container {
    margin-top: 50px;
    padding: 20px 0 20px 25px;
    box-shadow: 0 0 1px 0 gray;
}
.contact_section1 {
    width: 60%;
}
.contact_section2 {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.contact_section2 img{
    width: 150px;
    position: relative;
    right: -45px;
}
.form input[type=text]{
  width: 100%;
  padding: 12px 2px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
}
.form input[type=text]:focus{
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}
.contact_section1 > button{
  margin:20px 0px ;
  padding: 7px 25px;

}

.footer{
  display: flex;
justify-content: space-between;
}
.images{
  display: flex;
}
.subscription > button{
  margin:14px 0px ;
  padding: 5px 25px;
}
.copyright{
  text-align: center;
  margin: 40px 0;
  padding:10px 0px ;
  background-color: rgb(226, 226, 226);
}







/* Animations */
@keyframes motion {
    0% {
        translate: 0 -20px;
    }
    100% {
        translate: 0 20px;
    }
}

  

